global
   log /dev/log local0
   maxconn 1000

defaults
   mode tcp
   timeout connect 5s
   timeout client  50s
   timeout server  50s

frontend my_front
   bind *:9000
   default_backend my_back

backend my_back
   balance roundrobin
   server s1 127.0.0.1:8001 check
   server s2 127.0.0.1:8002 check
